<%= semantic_form_for @person do |f| %>
  <%= f.inputs do %>
    <%= f.input :short_desc %>
    <%= f.input :desc %>
    <%= f.input :location %>
    <%= f.input :know_list, :label => "You want to be wingman for", :as => :check_boxes, :collection => ActsAsTaggableOn::Tag.all, :input_html => { :class => "tag_input" } %>
    <ul class="knows tags_list"  style="display:none;">
      <% ActsAsTaggableOn::Tag.all.each do |t| %>
      <!-- <%= image_tag  t.name.downcase.gsub(/[ \/]/, "-") + ".png", :class => "tag-icon" %> -->
      <li data-name="<%= t.name %>"><i class="icon-tag"></i>&nbsp;<%= t.name %></li>
      <!-- <li data-name="<%= t.name %>"><%= image_tag  t.name.downcase.gsub(/[ \/]/, "-") + ".png", :class => "tag-icon" %>&nbsp;<%= t.name %></li> -->
      <% end %>
    </ul>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, :button_html => { :class => "btn btn-primary", :style => "padding:4px 10px 4px;" } %>
  <% end %>
<% end %>
