<div class="wingman_small">
  <%= link_to image_tag(person.image), person, :class => "pull-left" %>
  <div style="display:table-cell;float:left;margin-left:15px;">
    <%= link_to person.name, person, :style => "display:inline-block;margin-bottom:5px;" %>&nbsp;<i style="font-size:11px;">(<%= person.short_desc %>)</i>
    <br />
    <%= link_to "Ask to be Wingman", wingmanships_path(:wingman_id => person), :method => :post, :class => "btn-wingman-request btn btn-mini btn-primary", :title => "Get help in specific areas" %>
    <br/>
    <div style="margin-top:7px;"><%= raw Rinku.auto_link(person.desc || "", mode=:all, link_attr=nil, skip_tags=nil) %></div>
    <div class="person-tags">
      <% person.know_list.each do |tag| %>
        <%= link_to content_tag(:span, tag, :class => "label"), tag_path(tag) %> 
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
