<% content_for :left_panel do %>
  
<% end %>

<% content_for :right_panel do %>
  &nbsp;
<% end %>


<div class="row">
  <div class="span7">
    <% if @person.id != current_person.id %>
      <% if current_person.wingmans.exists?(@person.id) %>
        <% wingmanship = Wingmanship.where(:person_id => current_person.id, :wingman_id => @person.id).first %>
        <% if wingmanship.approved? %>
          <%= link_to "Cancel Wingmanship", wingmanship, :method => :delete, :class => "btn btn-red pull-right btn-warning" %>
        <% else %>
          <%= link_to "Cancel Wingmanship Request", wingmanship, :method => :delete, :class => "btn btn-red pull-right btn-warning" %>
        <% end %>
      <% else %>
        <%= link_to "Send Wingman Request", wingmanships_path(:wingman_id => @person), :method => :post, :class => "btn btn-primary pull-right", :title => "Get help in specific areas" %>
      <% end %>
      <!-- Keeping it simple, User can not ask to become a wingman he should receive a request -->
      <!--
      <span class="pull-right">&nbsp;</span>
      <%= link_to "Become Wingman", "#", :class => "btn pull-right", :title => "Help them in your area of expertise" %>
      -->
    <% end %>
    <h3><%= @person.name %></h3>
    <hr />
    <%= render @person %>
  </div>
</div>

<% @nav_id = "nav-show-person" %>
