<h1>Listing sharages</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sharages.each do |sharage| %>
  <tr>
    <td><%= sharage.person %></td>
    <td><%= sharage.item %></td>
    <td><%= link_to 'Show', sharage %></td>
    <td><%= link_to 'Edit', edit_sharage_path(sharage) %></td>
    <td><%= link_to 'Destroy', sharage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sharage', new_sharage_path %>
