<div style="width:100%;">
    <%= link_to image_tag(item.sharer.image, :style => "width:50px;heiht:50px;"), item.sharer, :style => "float:left;" %>
    <div style="display:table-cell;float:left;margin-left:15px;">
      <%= link_to item.sharer.name, item.sharer %><br />
      <span class="text"><%=raw Rinku.auto_link(item.text || "", mode=:all, link_attr=nil, skip_tags=nil) %></span><br />
      <ul class="shared-with">
        <% unless item.listeners.empty? %>
          <% item.listeners.each do |l| %>
            <li><%= link_to image_tag(l.image, :class => "image-mini"), l %></li>
          <% end %>
        <% else %>
          <i>Not shared with anyone</i>
        <% end %>
      </ul>
      <span  style="color:#999;font-size:11px;"><%= time_ago_in_words(item.created_at) + " ago" %> |</span><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete, class: "btn-mini", :style => "color:#999;" %>
      <br />
    </div>
</div>
<div class="clear"></div>
<hr />
<!--
<li class="item-small">
  <span class="pull-right" style="text-align:right;">
    <span  style="color:#999;font-size:10px;"><%= time_ago_in_words(item.created_at) + " ago" %></span><br />
    <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete, class: "btn-mini" %>
  </span>
  <% if false %>
    <br />
    <%= link_to 'Details', item, class: "pull-right btn", style: "margin-top:5px;" %>
  <% end %>
  <div style="font-size:110%;font-weight:Bold;color:#55D;display:none;">
    <%= link_to item, class: "", style: ";" do %>
      You shared it with <%= item.listeners.empty? ? "No one" : "Someone" %>
    <% end %>
  </div>
  <span class="text"><%=raw Rinku.auto_link(item.text || "", mode=:all, link_attr=nil, skip_tags=nil) %></span>
  <div class="clear"></div>
  <ul class="shared-with">
    <% item.listeners.each do |l| %>
      <li><%= link_to image_tag(l.image, :class => "image-mini"), l %></li>
    <% end %>
  </ul>
  <hr style="margin-bottom:0;" />
</li>
-->
