<!DOCTYPE html>
<html>
<head>
  <title>Wingman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
</head>
<body>
  <div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Wingman</a>
					<ul class="nav">
						<li class="active">
							<a href="/">Home</a>
						</li>
					</ul>
					<!--
					<form class="navbar-search pull-left" action="">
						<input type="text" class="search-query span2" placeholder="Search">
					</form>
          -->

					<ul class="nav pull-right">
						<li><a href="#">Link</a></li>
						<li class="divider-vertical"></li>
            <% if current_user %>
              <li>
              <%= link_to "Sign Out", signout_path %>
              </li>
            <% else %>
              <li>
              <%= link_to "Sign in with Facebook", "/auth/facebook" %>
              </li>
            <% end %>
						<li class="dropdown" style='display:none;'>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
  <div class="container">
    <% if content_for?(:left_panel) || content_for?(:right_panel) %>
      <div class="row">
        <div id="left-nav" class="span3" style="height:100%;">
          <ul class="nav nav-list">
            <!--
            <li class="nav-header">
              List header
            </li>
            -->
            <li>
              <a id="nav-news-feed" href="/">News Feed</a>
            </li>
            <li>
              <a id="nav-wingmen" href="/wingmen">Wingmen</a>
            </li>
            <li>
              <a id="nav-helping" href="/helping">Helping</a>
            </li>
            <li class="divider"></li>
            <li>
              <!-- 0 means current user as id is ignored -->
              <a id="nav-preferences" href="/people/0/edit">Preferences</a>
            </li>
            <%= yield(:left_panel) if content_for?(:left_panel) %>
          </ul>
          <script>
            window.nav_id = <%=raw @nav_id.to_json %>;
          </script>
        </div>
        <div class="span7" style="">
          <%= yield %>
        </div>
        <div class="span2">
          <%= yield(:right_panel) if content_for?(:right_panel) %>
        </div>
      </div>

    <% else %>
      <%= yield %>
    <% end %>
  </div>
  <div class="container">
		<div class="row">
			<div class="span12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<a href="/">Home</a><br />
				<a href="http://amitamb.posterous.com/" >Blog</a><br />
			</div>
			<div class="span2 offset1">
				<a href="#">Source</a><br />
				<a href="#">Video</a><br />
			</div>
			<div class="span2 offset1">
				<a href="mailto:amitamb@gmail.com">Contact</a><br />
				<a href="#">Other</a>
			</div>
			<div class="span2 offset1" style="text-align:right;">
				Copyright &copy; Wingman<br />
			</div>
		</div>
		<br />
	</div>
</body>
</html>
