<!DOCTYPE html>
<html>
<head>
  <title>Wingman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Wingman</a>
					<ul class="nav">
						<li class="active">
							<a href="/">Home</a>
						</li>
					</ul>
					<!--
					<form class="navbar-search pull-left" action="">
						<input type="text" class="search-query span2" placeholder="Search">
					</form>
          -->

					<ul class="nav pull-right">
						<li><a href="#">Link</a></li>
						<li class="divider-vertical"></li>
            <% if current_user %>
              <li>
              <%= link_to "Sign Out", signout_path %>
              </li>
            <% else %>
              <li>
              <%= link_to "Sign in with Facebook", "/auth/facebook" %>
              </li>
            <% end %>
						<li class="dropdown" style='display:none;'>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container">
		<div class="row">
			<div class="span12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<a href="/">Home</a><br />
				<a href="http://amitamb.posterous.com/" >Blog</a><br />
			</div>
			<div class="span2 offset1">
				<a href="#">Source</a><br />
				<a href="#">Video</a><br />
			</div>
			<div class="span2 offset1">
				<a href="mailto:amitamb@gmail.com">Contact</a><br />
				<a href="#">Other</a>
			</div>
			<div class="span2 offset1" style="text-align:right;">
				Copyright &copy; Wingman<br />
			</div>
		</div>
		<br />
	</div>
</body>
</html>
